[Unit]
Description=VNC Server for X11
Requires=lightdm.service
After=syslog.target network-online.target
Wants=syslog.target network-online.target

[Service]
ExecStart=/usr/bin/x11vnc -auth guess -display :0
ExecStop=/usr/bin/x11vnc -R stop
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
